//== Color Variables
$primary: #d2232a;
$secondary: #001833;
$primaryBg: #d2232a;
$secondaryBg: #ffffe7;
$black: #000;
$white: #fff;
$gray: #777777;
$blackLite: #4d4d4d;
$shadow: 0px 4px 4px rgba(210, 35, 42, 0.1);
$transition: all 0.4s ease-in-out;

//== Typography
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

//== Font Family
$roboto: "Roboto", sans-serif;
